h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

body {
  font-size: 16px;
  background-color: #ff8216;
  color: #fdfdde;
  font-family: "Donegal One", serif;
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

.contact {
  padding-bottom: 20px; }
  .contact p {
    line-height: 10px; }
  .contact a {
    color: #fdfdde;
    text-decoration: none; }

.contact.left {
  float: left;
  margin-right: 22%; }

.contact.right {
  float: left; }

img#logo {
  /*$w1: 1276px;*/
  /*$h1: 292px;*/
  /*$factor: 0.5;*/
  /*$w2: $w1 * $factor;*/
  /*$h2: $h1 * $factor; */
  width: 100%;
  margin-top: 5%;
  margin-left: -1%;
  /*height: 115%*/
  /*background-image: url("logga.png");*/
  /*background-size: $w2 $h2;*/
  /*background-repeat: no-repeat;*/
  /*background-position-x: -($w1 / 50) * $factor;*/
  /*text-indent: -10000px;*/ }

img.line {
  margin: 17px 0;
  width: 100%; }

img.line.last {
  margin-top: 4px; }

.clear {
  clear: both; }
